In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1187,tt0770828,225000000,662845518,Man of Steel,Henry Cavill|Amy Adams|Michael Shannon|Diane L...,Zack Snyder,You will believe that a man can fly.,A young boy learns that he has extraordinary p...,143,Action|Adventure|Fantasy|Science Fiction,Legendary Pictures|Warner Bros.|DC Entertainme...,6/12/2013,6.5,2013
241,tt0834001,35000000,91327197,Underworld: Rise of the Lycans,Bill Nighy|Michael Sheen|Rhona Mitra|Shane Bro...,Patrick Tatopoulos,Every war has a beginning.,"A prequel to the first two Underworld films, t...",92,Fantasy|Action|Adventure|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems|Sketch Fil...,1/22/2009,6.2,2009
535,tt0173840,137000000,85131830,Final Fantasy: The Spirits Within,Donald Sutherland|Ming-Na Wen|Alec Baldwin|Vin...,Hironobu Sakaguchi|Motonori Sakakibara,Unleash a new reality,"Led by a strange dream, scientist Aki Ross str...",106,Adventure|Action|Animation|Fantasy|Science Fic...,Columbia Pictures|Square USA|Chris Lee Product...,7/2/2001,5.6,2001
1664,tt0360009,19250000,8112712,Spartan,Val Kilmer|Derek Luke|William H. Macy|Tia Texa...,David Mamet,She's missing,U.S. government agent Scott is assigned to res...,102,Mystery|Action|Drama|Thriller|Crime,Epsilon Motion Pictures|Franchise Pictures|Sig...,3/12/2004,6.2,2004
1680,tt0293564,140000000,258022233,Rush Hour 3,Chris Tucker|Jackie Chan|Hiroyuki Sanada|Max v...,Brett Ratner,The Rush Is On!,After an attempted assassination on Ambassador...,91,Action|Comedy|Crime|Thriller,New Line Cinema,8/8/2007,6.2,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

data['profit'] = data['revenue'] - data['budget']

In [5]:
def counter(data, delimiter = '|'):
    counter_dict = {}
    for element in data:
        for piece in element.split(delimiter):
            if piece in counter_dict:
                counter_dict[piece] += 1
            else:
                counter_dict[piece] = 1
    return counter_dict

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [10]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
data['runtime'].mean()

109.6585494970884

In [14]:
answers['4'] = round(data['runtime'].mean())

# 5. Каково медианное значение длительности фильмов?

In [15]:
data['runtime'].median()

107.0

In [16]:
answers['5'] = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [18]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [19]:
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [20]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
data[data['profit']>0]['imdb_id'].count()

1478

In [22]:
answers['8'] = data[data['profit']>0]['imdb_id'].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
data[data['profit'] == data[data['release_year'] == 2008]['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
data[data['profit'] == data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [26]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [27]:
res = counter(data['genres'])

In [28]:
{i for i, val in res.items() if val==max(res.values())}

{'Drama'}

In [29]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
res = counter(data[data['profit']>0]['genres'])

In [31]:
{i for i, val in res.items() if val==max(res.values())}

{'Drama'}

In [32]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [66]:
res_dict = {}

for i in range(len(data)):
    for element in data['director'].loc[i].split('|'):
        if element in res_dict:
            res_dict[element] += data['revenue'].loc[i]
        else:
            res_dict[element] = data['revenue'].loc[i]

In [67]:
{i: val for i, val in res_dict.items() if val==max(res_dict.values())}

{'Peter Jackson': 6490593685}

In [ ]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [45]:
res = counter(data[data['genres'].str.contains('Action')]['director'])

In [47]:
{i: val for i, val in res.items() if val==max(res.values())}

{'Robert Rodriguez': 9}

In [48]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [82]:
actor_dict = {}
new_data = data[data['release_year'] == 2012].reset_index()

for i in range(len(new_data)):
    for element in new_data['cast'].loc[i].split('|'):
        if element in actor_dict:
            actor_dict[element] += new_data['revenue'].loc[i]
        else:
            actor_dict[element] = new_data['revenue'].loc[i]

In [83]:
{i: val for i, val in actor_dict.items() if val==max(actor_dict.values())}

{'Chris Hemsworth': 2027450773}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [86]:
res = counter(data[data['budget']>data['budget'].mean()]['cast'])

In [87]:
{i: val for i, val in res.items() if val==max(res.values())}

{'Matt Damon': 18}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
genre_dict = {}

for element in data[data['cast'].str.contains('Nicolas Cage')]['genres']:
    for genre in element.split('|'):
        if genre in genre_dict:
            genre_dict[genre] += 1
        else:
            genre_dict[genre] = 1

In [ ]:
genre_dict.items()

In [ ]:
{i: val for i, val in genre_dict.items() if val==max(genre_dict.values())}

In [ ]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
data[data['profit'] == data[data['production_companies'].str.contains('Paramount Pictures')]['profit'].min()]

In [ ]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

In [ ]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

In [ ]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [91]:
months = {}

for element in data['release_date']:
    month = element.split('/')[0]
    if month in months:
        months[month] += 1
    else:
        months[month] = 1

In [92]:
{i: val for i, val in months.items() if val==max(months.values())}

{'9': 227}

In [ ]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
months['6'] + months['7'] + months['8']

In [ ]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [111]:
data['release_date'].str.contains('12/')

0       False
1       False
2       False
3        True
4       False
        ...
1884    False
1885    False
1886    False
1887    False
1888    False
Name: release_date, Length: 1889, dtype: bool

In [113]:
winter_director = {}

for i in range(len(data)):
    for element in data['release_date'].loc[i].split('/'):
        if element in ['12','1','2']:
            for director in data['director'].loc[i].split('|'):
                if director in winter_director:
                    winter_director[director] += 1
                else:
                    winter_director[director] = 1

In [114]:
{i: val for i, val in winter_director.items() if val==max(winter_director.values())}

{'Peter Jackson': 8}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [116]:
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [ ]:
data['len_of_original_title']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
data

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
percent = int(round(data['vote_average'].count()/100))
percent

In [ ]:
data[['imdb_id','original_title','vote_average']].sort_values(by = 'vote_average', ascending = False).head(percent)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
actors = {}

for i in range(len(data)):
    for act in data['cast'].loc[i].split('|'):
        if act in actors:
            actors[act] = 
        else:
            actors[act]

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)